<form method="post" action="/lab/add">
<div>
    <p>
    <label>Pivotal Lab id:</label>
    <input type="text" name="id" id="input-id">
    </p>
    <p>
    <label> Lab Name:</label>
    <input type="text" name="name" id="input-name"> 
    </p>
    <p>
    <label> Lab Address:</label>
    <input type="text" name="address" id="input-address"> 
    </p>
</div>
<button type="submit" id='submit'>Search</button>
</form>