<form method="post" action="/lab/search">
<div>
    <label>Pivotal Lab id:</label>
    <input type="text" name="id" id="input-id"> {{#if error}}<span></span>{{error}}</span>{{/if}}
</div>
<button type="submit" id='submit'>Search</button>
</form>