<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LabsFinder</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <a href="/listlabs">List Labs</a>|<a href="/">Search Labs</a>
            </div>
            <div class="clr"></div>
            {{{body}}}
        </div>

    </body>
</html>